In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from utils import data_review

In [ ]:
# Establece la opción para mostrar todas las filas y columnas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
# Restaura la configuración predeterminada si es necesario
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

#    E

In [26]:
#cargando csv
df = pd.read_csv(r"1 Call Center/Call_Center_1999_DataSet.csv",sep=";")

C:\Users\delba\AppData\Local\Temp\ipykernel_14840\3111253613.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"1 Call Center/Call_Center_1999_DataSet.csv",sep=";")

In [5]:
data_review(df)#podemos darnos cuenta que el dataframe no posee valores faltantes

Total rows:  444448

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,vru.line,[<class 'str'>],100.0,444448,0.0,0
1,call_id,[<class 'int'>],100.0,444448,0.0,0
2,customer_id,"[<class 'float'>, <class 'str'>]",100.0,444448,0.0,0
3,priority,[<class 'int'>],100.0,444448,0.0,0
4,type,[<class 'str'>],100.0,444448,0.0,0
5,date,[<class 'str'>],100.0,444448,0.0,0
6,vru_entry,[<class 'str'>],100.0,444448,0.0,0
7,vru_exit,[<class 'str'>],100.0,444448,0.0,0
8,vru_time,[<class 'int'>],100.0,444448,0.0,0
9,q_start,[<class 'str'>],100.0,444448,0.0,0
10,q_exit,[<class 'str'>],100.0,444448,0.0,0
11,q_time,[<class 'int'>],100.0,444448,0.0,0
12,outcome,[<class 'str'>],100.0,444448,0.0,0
13,ser_start,[<class 'str'>],100.0,444448,0.0,0
14,ser_exit,[<class 'str'>],100.0,444448,0.0,0
15,ser_time,[<class 'int'>],100.0,444448,0.0,0
16,server,[<class 'str'>],100.0,444448,0.0,0
17,startdate,[<class 'int'>],100.0,444448,0.0,0

In [6]:
df.describe()#vru_time tiene un valores negativos

,call_id,priority,vru_time,q_time,ser_time,startdate
count,444448.000000,444448.000000,444448.000000,444448.000000,444448.000000,444448.000000
mean,31928.737202,0.780143,10.286081,59.004304,152.561776,172.333974
std,13945.516813,0.888851,34.942136,119.470328,282.372761,104.559247
min,1169.000000,0.000000,-362.000000,0.000000,0.000000,0.000000
25%,21449.000000,0.000000,6.000000,0.000000,12.000000,90.000000
50%,35256.000000,0.000000,8.000000,16.000000,84.000000,181.000000
75%,42803.000000,2.000000,10.000000,79.000000,185.000000,273.000000
max,55656.000000,2.000000,4832.000000,28693.000000,61437.000000,334.000000

In [10]:
df["call_id"].value_counts()#al parecer hay id de llamada que se repiten hasta 4 veces

call_id
37585    16
36947    16
36959    16
36958    16
36957    16
         ..
54438     1
54437     1
54436     1
54435     1
55656     1
Name: count, Length: 54471, dtype: int64

In [12]:
df["priority"].value_counts()#cantidad por priority

priority
0    235168
2    137453
1     71827
Name: count, dtype: int64

In [ ]:
df["vru.line"].value_counts().sort_values()#VRU tiene valores de AA01  a AA06 seguido de numero de linea que va de 1 a 16
#podemos notar que solo hay registros para (VRU AA01 y VRU AA02) hay 4 VRU que no tienen registros por lo que no existe motivo para que existan

In [18]:
df["vru_time"].sort_values() #tiene valores negativos

289184    -362
163553    -348
410564    -341
80430     -337
93167     -334
          ...
414985    3090
407346    3257
285467    3625
149023    3639
388425    4832
Name: vru_time, Length: 444448, dtype: int64

In [23]:
df["type"].value_counts()# TT tiene un espcacio dentro de el nombre

type
PS     302522
NW      67728
NE      39342
IN      20732
TT      12289
PE       1824
 TT         6
AA          5
Name: count, dtype: int64

In [24]:
df["date"].sort_values# las fechas estan correctas ya que estan en el intervalo que se establecia

<bound method Series.sort_values of 0         1999-01-01
1         1999-01-01
2         1999-01-01
3         1999-01-01
4         1999-01-01
             ...
444443    1999-12-31
444444    1999-12-31
444445    1999-12-31
444446    1999-12-31
444447    1999-12-31
Name: date, Length: 444448, dtype: object>

<hr>

In [ ]:
#df["vru-time"] = [str(x).replace("-","") for x in df["vru-time"].values]
from datetime import date
from datetime import time

#debo encontrar como comparar las horas
for i in range(0,len(df)):
    a,b,c = df["vru_entry"][i].split(":")
    x,y,z = df["vru_exit"][i].split(":")
    time_i = time(int(a),int(b),int(c))
    time_o = time(int(x),int(y),int(z))

    if time_i > time_o:
        if time_i > time_o: #si la hora a la que se entro fue despues de a la que se salio que es imposible
            df["vru_entry"][i],df["vru_exit"][i] = df["vru_exit"][i],df["vru_entry"][i]#cambiar la posicion de los valores
        
        segundos_i = time_i.hour * 3600 + time_i.minute*60 + time_i.second
        segundos_o = time_o.hour * 3600 + time_o.minute * 60 + time_o.second
        diferencia_en_segundos = segundos_o - segundos_i
        
        df["vru_time"][i] =  diferencia_en_segundos   #df["vru_exit"][i] - df["vru_entry"][i]  #calcular el valor de vru time

In [21]:
# if(q start > q time):  (q_exit - q_start = q exit)

df["q_start"].value_counts()# los valores de date estan en diferente formato

q_start
0:00:00     112589
00:00:00     68248
15:22:56        21
10:19:32        21
10:39:30        21
             ...
7:27:14          1
6:58:07          1
23:37:58         1
06:55:20         1
0:49:09          1
Name: count, Length: 62831, dtype: int64

In [25]:
df["q_exit"].value_counts()#el formato de hora es diferente

q_exit
0:00:00     112588
00:00:00     68248
10:08:16        20
10:28:23        20
10:11:38        19
             ...
8:05:10          1
22:53:44         1
18:24:25         1
8:04:21          1
0:49:09          1
Name: count, Length: 62893, dtype: int64

In [ ]:
df["q_time"].sort_values().value_counts()# hay un valor que es 3 veces mas grande que los anteriores a ese en tamaño

In [ ]:
df["customer_id"].value_counts()#  hay que convertir losn valores a enteros ya que es un id y ademas hay 2 formas diferentes en las que se registra el 0 (desconocido) 0.0 y 0

In [ ]:
df["startdate"].value_counts()#no se que y no la utilizare asi que la dropeare

-------------------------------------------------------------------------------------------------------------------------------------------------------------

Transformacion/Validacion

In [28]:
#quitandole los espacios en blanco a los valor en "type"
df["type"] = [x.strip() for x in df["type"].values]

In [ ]:
del df["startdate"]#dropeando la columna que no usare

formato date

Date debe tener 6 digitos año-mes-dia
'1999-12-15' estos son los valores actuales
99-12-15 esto es lo que creo que se espera

In [ ]:
#duplicados = df[df.duplicated(subset="call_id", keep=False)]
#df.loc[duplicados.index, "call_id"] = df.loc[duplicados.index, "customer_id"] - df.loc[duplicados.index, "call_id"] * df.loc[duplicados.index, "vru_time"]

---------------------------------------------------------------------------------------------------------------------

#   T

vru_entry y vru_exit debe contener 6 digitos
ser_start y ser_exit debe contener 6 digitos
q_start y q_exit debe contener 6 digitos

'9:59:51'  este es un valor que se encontraba en la columna y no contiene la hora en formato de 6 digitos
'10:11:42' supongo que se espera que todos cumplan este formato con 6 digitos separados por ":" ":"

numeros enteros(diferencia entre tiempos)
q_time debe tener entre 1 a 3 digitos

ser_time (duracion del tiempo de servicio en segundos se calcula a travez de ser_time = ser_exit - ser_start)dice que debe estar entre 1 a 3 digitos pero hay valores muy por encima incluso hasta 5 digitos

In [ ]:
#df["ser_start"] = [if len(x) == 7 :"0"+x for x in df["ser_start"].values]
df["vru_entry"] = ["0" + x if len(x) == 7 else x for x in df["vru_entry"].values]
df["vru_exit"] = ["0" + x if len(x) == 7 else x for x in df["vru_exit"].values]
df["q_start"] = ["0" + x if len(x) == 7 else x for x in df["q_start"].values]
df["q_exit"] = ["0" + x if len(x) == 7 else x for x in df["q_exit"].values]
df["ser_start"] = ["0" + x if len(x) == 7 else x for x in df["ser_start"].values]
df["ser_exit"] = ["0" + x if len(x) == 7 else x for x in df["ser_exit"].values]

In [ ]:
#al darle el tipo TIME en MySQl le da el formato que se pide de 6 digitos

In [ ]:
df["q_start"].values
for i in df["ser_start"].values :
    print(len(i))

Type 2 digitos
debemos asegurarnos de que los valores tengan 2 digitos pero TT tiene un espacio en blanco a demas de los digitos por lo que abria que hacer un trim a todo si es posible

vru_time debe tener entre 1 a 3 digitos tiene registros que superan este numero y numeros negativos que podrian ser datos que tengamos que quitarle el signo

In [ ]:
# para lograr esto solo abria que volver a calcular el valor de la columna _time a travez de las otras 2

In [ ]:
df["vru_time"] = [str(x).replace("-","") if len(str(x)) == 4 else str(x) for x in df["vru_time"].values]#no ejecutar
df["vru_time"] = [str(x).replace("-","") if str(x).find("-") else str(x) for x in df["vru_time"].values]#no ejecutar

customer id debemos volverlo entero para evitar problemas  como que diferencia 0 y 0.0 y es el tipo de dato correcto ya que hablamos de un id a demas debe contener entre 0 y 12 digitos


call_id - debe tener 5 digitos y hay valores con 4 digitos por lo que abra que desaserce de esos valores supongo ya que no pueden ser reemplazados

vru_line 6 digitos primeros 4 conformado por vru que va de AA01 a AA06 seguido por numero de linea etiquetadas de 01 al 16 . hay un total de 65 lineas cadaa llamada es asignada a un numero de VRU  y a un numero de linea

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
plt.boxplot(df.q_time,) #aca logramos ver que esta lleno de outliers ya que nos pide que debe tener 3 digitos entonces hay muhcos valores que se pueden considerar atipicos

In [ ]:
df["date"].values

# dia de el año y dia de la semana

In [ ]:
from datetime import date

#numero de dia de el año debo comprobar la columna 

for x in df["date"]:
    #print(x)
    a,b,c = x.split("-")
    fecha = date(int(a),int(b),int(c))#date(2023, 10, 26)
    print(fecha.timetuple().tm_yday)
    print(fecha.strftime('%A'))

In [ ]:
cont = 0
for x in  pd.unique(df["date"]):
    #print(x)
    a,b,c = x.split("-")
    fecha = date(int(a),int(b),int(c))#date(2023, 10, 26)
    print(fecha.timetuple().tm_yday)
    print(fecha.strftime('%A'))#numero de el año
    if str(fecha.timetuple().tm_yday) == "Wednesday":
        cont += 1
        print(cont)

<hr>

In [ ]:
df = pd.read_csv(r"../callcenter_consql.csv")

In [ ]:
df[df["outcome"] == "HANG"].count()

In [ ]:
media = df["q_time"].mean()

In [ ]:
stand = df["ser_time"].std()

In [ ]:
minimo = media - (3 * stand)
maximo = media + (3 * stand)

In [ ]:
print(minimo)

In [ ]:
print(maximo)

In [ ]:
#deteccion de outliers 
#aca abajo representar el porcentaje de llamadas que no fueron contestadas o que tardaron mucho tiempo(outliers) y outcome == phantom

#junto a esto eficiencia y productividad de nuestros agentes

#   L

In [ ]:
#llevando los datos a sql

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
my_con = create_engine('mysql+pymysql://root:1234@localhost:3306/CallCenter')
if my_con:
    print('Conexion exitosa!')

In [ ]:
df.to_sql(con=my_con,if_exists='replace',name='CallCenter_c',index=False)

In [ ]:
# guardando csv limpio

In [ ]:
df.to_csv("CallCenter_clean.csv", index=False)