    Analizar las operaciones de un Call Center de un Banco, para proponer mejoras en:
    * Eficiencia operativa, proponiendo mejoras operativas.
    * Mejorar la satisfacción del cliente, cumpliendo los SLA comprometidos.
    * Brindar una herramienta para la gestión y la toma de decisiones a los managers del Call Center.

    En conclusión se solicita definir, construir y presentar un Dashboard que permita medir los niveles de calidad de servicio, eficiencia y productividad del Call Center.
    Para ello, se propone que definamos los KPIs adecuados para poder medir los objetivos propuestos, y definir nuevos niveles objetivos de manera de ofrecer esos niveles de SLA a terceras partes, o generar un nuevo servicio Premium para los clientes mas importantes del banco.


### Preguntas 
* ¿Cuál es el nivel de servicio para los clientes Prioritarios? 
* ¿Damos un mejor servicio que a los clientes normales?
* ¿Qué volumen de llamadas atendemos? 
* ¿Cuáles son los cuellos de botella? ¿En qué días? ¿En qué bandas horarias?
* ¿Cómo es la eficiencia y productividad de nuestros agentes?
* ¿Hay clientes recurrentes en el uso del servicio?
* ¿Cuáles son los tipos de servicio más recurrentes?
* ¿Podemos estimar la dotación necesaria para cumplir con una calidad de servicio determinada?  Ejemplo: si quiero que mi tiempo promedio de espera sea menor a 60 segundos?

### Recursos

| Archivo
| ------ 
| Call_Center_1999_DataSet.csv
|  “Ejercicio Call Center - Descripción del DataSet” se explica el modelo de datos y la descripción del contenido.

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv(r"1 Call Center/Call_Center_1999_DataSet.csv",sep=";")

C:\Users\delba\AppData\Local\Temp\ipykernel_5728\3111253613.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"1 Call Center/Call_Center_1999_DataSet.csv",sep=";")

In [4]:
df.head()

,vru.line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server,startdate
0,AA0101,33116,9664491.0,2,PS,1999-01-01,0:00:31,0:00:36,5,0:00:36,0:03:09,153,HANG,0:00:00,0:00:00,0,NO_SERVER,0
1,AA0101,33117,0.0,0,PS,1999-01-01,0:34:12,0:34:23,11,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER,0
2,AA0101,33118,27997683.0,2,PS,1999-01-01,6:55:20,6:55:26,6,6:55:26,6:55:43,17,AGENT,6:55:43,6:56:37,54,MICHAL,0
3,AA0101,33119,0.0,0,PS,1999-01-01,7:41:16,7:41:26,10,0:00:00,0:00:00,0,AGENT,7:41:25,7:44:53,208,BASCH,0
4,AA0101,33120,0.0,0,PS,1999-01-01,8:03:14,8:03:24,10,0:00:00,0:00:00,0,AGENT,8:03:23,8:05:10,107,MICHAL,0

In [5]:
df.count()#no tiene valores nulos

vru.line       444448
call_id        444448
customer_id    444448
priority       444448
type           444448
date           444448
vru_entry      444448
vru_exit       444448
vru_time       444448
q_start        444448
q_exit         444448
q_time         444448
outcome        444448
ser_start      444448
ser_exit       444448
ser_time       444448
server         444448
startdate      444448
dtype: int64

In [6]:
df.describe()#vru_time tiene un valores negativos

,call_id,priority,vru_time,q_time,ser_time,startdate
count,444448.000000,444448.000000,444448.000000,444448.000000,444448.000000,444448.000000
mean,31928.737202,0.780143,10.286081,59.004304,152.561776,172.333974
std,13945.516813,0.888851,34.942136,119.470328,282.372761,104.559247
min,1169.000000,0.000000,-362.000000,0.000000,0.000000,0.000000
25%,21449.000000,0.000000,6.000000,0.000000,12.000000,90.000000
50%,35256.000000,0.000000,8.000000,16.000000,84.000000,181.000000
75%,42803.000000,2.000000,10.000000,79.000000,185.000000,273.000000
max,55656.000000,2.000000,4832.000000,28693.000000,61437.000000,334.000000

In [8]:
df["call_id"].value_counts()#al parecer hay id de llamada repetidos asi que abri que operarlos

call_id
37585    16
36947    16
36959    16
36958    16
36957    16
         ..
54438     1
54437     1
54436     1
54435     1
55656     1
Name: count, Length: 54471, dtype: int64

In [7]:
df["priority"].value_counts()

priority
0    235168
2    137453
1     71827
Name: count, dtype: int64

In [11]:
df["vru_time"].sort_values() #tiene valores negativos

289184    -362
163553    -348
410564    -341
80430     -337
93167     -334
          ...
414985    3090
407346    3257
285467    3625
149023    3639
388425    4832
Name: vru_time, Length: 444448, dtype: int64

In [ ]:
df["vru.line"].value_counts().sort_values()

In [15]:
df["startdate"].value_counts()#no se que es

startdate
334    43065
212    42078
304    41019
120    39553
181    39022
59     38801
151    37935
273    34625
31     33344
90     32036
0      31599
243    31371
Name: count, dtype: int64

In [19]:
df["type"].value_counts()# TT tiene un espcacio dentro de el nombre

type
PS     302522
NW      67728
NE      39342
IN      20732
TT      12289
PE       1824
 TT         6
AA          5
Name: count, dtype: int64

In [20]:
df["date"].sort_values# las fechas estan correctas ya que estan en el intervalo que se establecia

<bound method Series.sort_values of 0         1999-01-01
1         1999-01-01
2         1999-01-01
3         1999-01-01
4         1999-01-01
             ...
444443    1999-12-31
444444    1999-12-31
444445    1999-12-31
444446    1999-12-31
444447    1999-12-31
Name: date, Length: 444448, dtype: object>

In [21]:
# if(q start > q time):  (q_exit - q_start = q exit)

df["q_start"].value_counts()# los valores de date estan en diferente formato

q_start
0:00:00     112589
00:00:00     68248
15:22:56        21
10:19:32        21
10:39:30        21
             ...
7:27:14          1
6:58:07          1
23:37:58         1
06:55:20         1
0:49:09          1
Name: count, Length: 62831, dtype: int64

In [22]:
df["q_exit"].value_counts()#el formato de hora es diferente

q_exit
0:00:00     112588
00:00:00     68248
10:08:16        20
10:28:23        20
10:11:38        19
             ...
8:05:10          1
22:53:44         1
18:24:25         1
8:04:21          1
0:49:09          1
Name: count, Length: 62893, dtype: int64

In [27]:
df["q_time"].sort_values().value_counts()# hay un valor que es 3 veces mas grande que los anteriores a ese en tamaño

q_time
0        181223
9          4138
10         3728
8          3519
12         3387
          ...
967           1
970           1
974           1
975           1
28693         1
Name: count, Length: 1043, dtype: int64